.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
    border-radius: 90px;
    aspect-ratio: 1 / .5;
}
.navbar .profile{
    width: 40px;
    border-radius: 50%;
}